@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
}


::-webkit-scrollbar {
	width: 7px;
	
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:#F97316;
}

body{
  background-color: white;
}
html{
  scroll-behavior: smooth;
}
a {
  outline: none;
}

button {
  outline: none;
}

.loader {
  width: 80px;
  height: 80px;
  border: 5px solid #F97316;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.hero {
  background: url("/hero.avif");
  background-size: cover;
  background-position: center;
}

.view{
  animation: fadeIn 2s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
}

.hover-div {
  transition: 0.5s;
}

.hover-div:hover {
  transform: scale(1.05);
  

}

.category{
  cursor: pointer;
  min-width: 200px;
}
.category:hover{
  background-color: #F97316;
  color: white;
}
.menu{
  outline: none;
}

.menu::-webkit-scrollbar{
  display: none;

}



@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;

  }
}